---
http_interactions:
- request:
    method: get
    uri: https://nubela.co/proxycurl/api/v2/linkedin?extra=exclude&facebook_profile_id=exclude&fallback_to_cache=on-error&github_profile_id=exclude&inferred_salary=exclude&personal_contact_number=exclude&personal_email=exclude&skills=exclude&twitter_profile_id=exclude&url=https://www.linkedin.com/in/foo-bar-does-not-exist/&use_cache=if-present
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Proxycurl-Credit-Cost:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"code":404,"description":"Person profile does not exist","name":"Not
        Found"}

        '
  recorded_at: Thu, 18 May 2023 14:11:06 GMT
recorded_with: VCR 6.1.0
