---
http_interactions:
- request:
    method: get
    uri: https://nubela.co/proxycurl/api/find/company/role?company_name=Finitec%20Oy&enrich_profile=skip&role=Chief%20Technology%20Officer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://nubela.co/proxycurl/api/find/company/role/?company_name=Finitec+Oy&enrich_profile=skip&role=Chief+Technology+Officer
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>Redirecting...</title>
        <h1>Redirecting...</h1>
        <p>You should be redirected automatically to target URL: <a href="https://nubela.co/proxycurl/api/find/company/role/?company_name=Finitec+Oy&amp;enrich_profile=skip&amp;role=Chief+Technology+Officer">https://nubela.co/proxycurl/api/find/company/role/?company_name=Finitec+Oy&amp;enrich_profile=skip&amp;role=Chief+Technology+Officer</a>. If not click the link.
  recorded_at: Sat, 20 May 2023 08:26:56 GMT
- request:
    method: get
    uri: https://nubela.co/proxycurl/api/find/company/role/?company_name=Finitec%20Oy&enrich_profile=skip&role=Chief%20Technology%20Officer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Proxycurl-Credit-Cost:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"linkedin_profile_url":"https://fi.linkedin.com/in/ljuti"}

        '
  recorded_at: Sat, 20 May 2023 08:32:38 GMT
- request:
    method: get
    uri: https://nubela.co/proxycurl/api/v2/linkedin?extra=exclude&facebook_profile_id=exclude&fallback_to_cache=on-error&github_profile_id=exclude&inferred_salary=exclude&personal_contact_number=exclude&personal_email=exclude&skills=exclude&twitter_profile_id=exclude&url=https://fi.linkedin.com/in/ljuti&use_cache=if-present
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Proxycurl-Credit-Cost:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"public_identifier": "ljuti", "profile_pic_url": "https://s3.us-west-000.backblazeb2.com/proxycurl/person/ljuti/profile?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=0004d7f56a0400b0000000001%2F20230520%2Fus-west-000%2Fs3%2Faws4_request&X-Amz-Date=20230520T083238Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=f444fa30249eee36258a74ff4f30693e6a13614342e304d4e58bcec9e13cd944",
        "background_cover_image_url": "https://s3.us-west-000.backblazeb2.com/proxycurl/person/ljuti/cover?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=0004d7f56a0400b0000000001%2F20230520%2Fus-west-000%2Fs3%2Faws4_request&X-Amz-Date=20230520T083238Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=dc1b0b617e9453743abc55958425c3a619bbbaaf9351abc918ebc50aef8aa67f",
        "first_name": "Lauri", "last_name": "Jutila", "full_name": "Lauri Jutila",
        "follower_count": 2024, "occupation": "Chief Technology Officer at Finitec
        Oy", "headline": "Digital Business Craftsman", "summary": "\"The entrepreneur
        always searches for change, responds to it, and exploits it as an opportunity.\"
        -- Peter F. Drucker\n\nThis statement made by Drucker pretty much sums up
        my mentality and mindset, when it comes to business and creating sensible
        and sustainable solutions for my customers, business partners and other beneficiaries.\n\nWith
        a never-say-die attitude, I''ll eagerly tackle challenges that come my way.
        I''m able to quickly assess the situation and adapt to the challenge. Being
        a quick and smart learner helps, I have a natural ability to learn quickly
        the most important bits of information and use them to solve a problem.\n\n\"Do
        your duty and a little more and the future will take care of itself.\" --
        Andrew Carnegie\n\n\"You can get everything in life you want if you will just
        help enough other people get what they want.\" -- Zig Ziglar\n\n\"The major
        value in life is not what you get. The major value in life is what you become.\"
        -- Jim Rohn", "country": "FI", "country_full_name": "Finland", "city": "Helsinki",
        "state": "Uusimaa", "experiences": [{"starts_at": {"day": 1, "month": 1, "year":
        2022}, "ends_at": null, "company": "Get Leads", "company_linkedin_profile_url":
        "https://fi.linkedin.com/company/get-leads-fi", "title": "Chief Technology
        Officer", "description": "Get Leads sets up high-impact sales conversations
        between your salespeople and well-identified prospects that match your Ideal
        Customer Profile.", "location": "Helsinki, Uusimaa, Finland", "logo_url":
        "https://s3.us-west-000.backblazeb2.com/proxycurl/company/get-leads-fi/profile?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=0004d7f56a0400b0000000001%2F20230520%2Fus-west-000%2Fs3%2Faws4_request&X-Amz-Date=20230520T083239Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Signature=c1b243402429363b7e982979b3fde438c7c4600d9ff8487a535079373637147e"},
        {"starts_at": {"day": 1, "month": 10, "year": 2020}, "ends_at": null, "company":
        "Get Sales", "company_linkedin_profile[...]
