---
http_interactions:
- request:
    method: get
    uri: https://nubela.co/proxycurl/api/linkedin/company?acquisitions=exclude&categories=exclude&exit_data=exclude&extra=exclude&funding_data=exclude&resolve_numeric_id=false&url=https://www.linkedin.com/company/finitec-oy/&use_cache=if-present
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Proxycurl-Credit-Cost:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"linkedin_internal_id": "870046", "description": "Finitec is Finland\u2019s
        leading Tech Talent Agency, specialized in connecting the most ambitious companies
        with the very best developers, designers and tech experts, and transforming
        their expertise, talent and knowledge into real business results. Professionals
        trust us in career management and companies turn to us when committed best
        in class talent is needed.", "website": "http://www.finitec.fi", "industry":
        "Information Technology & Services", "company_size": [51, 200], "company_size_on_linkedin":
        37, "hq": {"country": "FI", "city": "Helsinki", "postal_code": "FIN-00100",
        "line_1": "T\u00f6\u00f6l\u00f6nlahdenkatu 3B", "is_hq": true, "state": null},
        "company_type": "PRIVATELY_HELD", "founded_year": 2005, "specialities": ["IT
        Consulting", "Talent Agency", "Software Development", "Design", "Career Management",
        "Contract Recruitment", "Recruitment", "Cloud", "Data", "AI", "Agile", "Project
        Management", "Product Development"], "locations": [{"country": "FI", "city":
        "Helsinki", "postal_code": "FIN-00100", "line_1": "T\u00f6\u00f6l\u00f6nlahdenkatu
        3B", "is_hq": true, "state": null}], "name": "Finitec Oy", "tagline": "The
        Leading Finnish Tech Talent Agency. We match best in class tech professionals
        with the most ambitious clients.", "universal_name_id": "finitec-oy", "profile_pic_url":
        "https://s3.us-west-000.backblazeb2.com/proxycurl/company/finitec-oy/profile?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=0004d7f56a0400b0000000001%2F20230518%2Fus-west-000%2Fs3%2Faws4_request&X-Amz-Date=20230518T093507Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=1cf7274e51e7af59af5f98bed4a5fa23860dcd371d1fd3fdd38b63f87419a4d3",
        "background_cover_image_url": "https://s3.us-west-000.backblazeb2.com/proxycurl/company/finitec-oy/cover?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=0004d7f56a0400b0000000001%2F20230518%2Fus-west-000%2Fs3%2Faws4_request&X-Amz-Date=20230518T093507Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=c06795e80cd099eeac50d809eafcf82550877492df8269b3f418d4dee5331aaa",
        "search_id": "870046", "similar_companies": [{"name": "Project-IT Oy", "link":
        "https://fi.linkedin.com/company/project-it-oy", "industry": "IT Services
        and IT Consulting", "location": "Espoo, Espoo"}, {"name": "Finitec Sp. z o.o.",
        "link": "https://pl.linkedin.com/company/finitecsolutions", "industry": "IT
        Services and IT Consulting", "location": "Warszawa, mazowieckie"}, {"name":
        "OP Financial Group", "link": "https://fi.linkedin.com/company/op-financial-group",
        "industry": "Financial Services", "location": "Helsinki, Southern Finland"},
        {"name": "Get Sales", "link": "https://fi.linkedin.com/company/get-sales-fi",
        "industry": [...]
