---
http_interactions:
- request:
    method: get
    uri: https://nubela.co/proxycurl/api/linkedin/company?acquisitions=exclude&categories=exclude&exit_data=exclude&extra=exclude&funding_data=exclude&resolve_numeric_id=false&url=https://www.linkedin.com/company/foobar/&use_cache=if-present
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Proxycurl-Credit-Cost:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"code":404,"description":"Company profile does not exist","name":"Not
        Found"}

        '
  recorded_at: Thu, 18 May 2023 12:20:10 GMT
recorded_with: VCR 6.1.0
