---
http_interactions:
- request:
    method: get
    uri: https://nubela.co/proxycurl/api/v2/linkedin/company/job?experience_level=anything&flexibility=anything&geo_id=92000000&job_type=anything&keyword=ruby&when=anytime
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Proxycurl-Credit-Cost:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"job": [{"company": "Terralogic", "company_url": "https://www.linkedin.com/company/terralogic",
        "job_title": "ROR Developer", "job_url": "https://www.linkedin.com/jobs/view/ror-developer-at-terralogic-3591260374",
        "list_date": "2023-04-03", "location": "Greater Chennai Area"}, {"company":
        "Superstars", "company_url": "https://www.linkedin.com/company/superstars",
        "job_title": "Ruby Developer - UK based, \u00a380-85k basic + bonus + stock
        options", "job_url": "https://www.linkedin.com/jobs/view/ruby-developer-uk-based-%C2%A380-85k-basic-%2B-bonus-%2B-stock-options-at-superstars-3611311349",
        "list_date": "2023-05-18", "location": "England, United Kingdom"}, {"company":
        "Xprolabs", "company_url": "https://[...]
