---
http_interactions:
- request:
    method: get
    uri: https://nubela.co/proxycurl/api/linkedin/company?company_domain=finitec.fi&company_location&company_name&enrich_profile=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Proxycurl-Credit-Cost:
      - '0'
    body:
      encoding: UTF-8
      string: '{"code":400,"description":"Bad request. Please ensure that the parameters
        are of the correct format.","name":"Bad Request"}

        '
  recorded_at: Thu, 18 May 2023 12:32:58 GMT
- request:
    method: get
    uri: https://nubela.co/proxycurl/api/linkedin/company?company_domain=finitec.fi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Proxycurl-Credit-Cost:
      - '0'
    body:
      encoding: UTF-8
      string: '{"code":400,"description":"Bad request. Please ensure that the parameters
        are of the correct format.","name":"Bad Request"}

        '
  recorded_at: Thu, 18 May 2023 12:34:10 GMT
- request:
    method: get
    uri: https://nubela.co/proxycurl/api/linkedin/company/resolve?company_domain=finitec.fi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Proxycurl-Credit-Cost:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"url": "https://www.linkedin.com/company/finitec-oy"}'
  recorded_at: Thu, 18 May 2023 12:34:51 GMT
recorded_with: VCR 6.1.0
